.submitbtn {
    margin-right: 25rem;
    margin-left: 25rem;
    background-color: black;
    border-radius: 20px;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    text-decoration: none;
    padding: 5px 70px;
    margin-top: 10px;
    font-size: 25px;
}



body {
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 44px;
    background-color: #F0F8FF;
}


nav {
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 44px;
    letter-spacing: -1.125px;
    background-color: #F0F8FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}



.logo img {
    height: 100px;
    margin-left: 40px;
}




.grid-container {
    display: grid;
    text-align: center;
    grid-template-rows: auto;
    border-left: 100px solid #F0F8FF;
    border-right: 100px solid #F0F8FF;
    background-color: #96DBDB;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);

    padding-bottom: 75px;
    padding-top: 30px;
}

table {
    margin-left: 400px;

}


.grid-container h3 {
    text-size-adjust: 100;
    margin-bottom: 30px;
    font-size: 30px;
}



.grid-container table {
    padding-left: 50px;

}

.registerbtn {
    background-color: black;
    border-radius: 10px;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    text-decoration: none;
    padding: 15px;
    margin-top: 15px;
}


.registerbtn:hover {
    opacity: 1;
}



/*-----------------------------*/

* {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}


.footer {
    background-color: #008080;
    padding-top: 5px;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    color: white;
    font-size: 70%;
}


.footer a {
    text-decoration: none;
    border-bottom: 1px solid black;
    border-radius: 10px;
    color: white;
    padding: 15px;
}


.footer-container {
    display: flex;
    box-sizing: border-box;
}


.footer-container p {
    margin-left: 100px;
}


.footer-container .second-item {
    margin-left: 600px;
    margin-top: 25px;
}